body{
	background-color: rgb(240, 215, 255);
	padding-top: 70px;
}

.jumbotron{
	text-align: center;
	background-color: rgba(0,0,0,0);
}

hr{
	border-top: 1px solid black;
	text-align: center;
}

hr.jumbo{
	max-width: 50%;
}

hr:after{
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	font-size: 20px;
}

hr.sp:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -20px;
	padding: 0 10px;
	font-size: 30px;
}

.main{
	background-color: rgb(255, 215, 235);
	border: 1px solid black;
	padding: 5px 10px;
	margin-bottom: 20px;
}

.sidebar{
	background-color: rgb(215, 215, 255);
	border: 1px solid black;
	padding: 5px 10px;
	margin-bottom: 20px;
}

h1, h2, h3{
	text-align: center;
}

.spacer{
	height: 10px;
}
