.hide{
	display: none;
}

.intro{
	text-shadow:
    	-1px -1px 0 #000,
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    padding-top: 30vh;
    letter-spacing: 0.2em;
	color: white;
}

.intro h1{
	letter-spacing: 0.3em;    
}

.intro hr{
	border-bottom: 1px solid white;
}

.profilepic img{
	border-radius: 50%;
	border: 3px solid black;
	max-width: 100%;
}

.tag{
	text-align: center;
}

.note {
	font-size: 0.75em;
}