td{
  padding: 0 20px 0 0;
  vertical-align: top;
}

.about{
  margin: 10px;
}

.intro{
  margin-top: 50px;
  max-width: 100%;
  letter-spacing: 0.2em;
}

.name{
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  color: white;
}

.pic img{
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    border: 3px solid #53429C;
}