/* Default items */
body {
	font-family: 'Cormorant Infant', serif;
	background: url('Images/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-bottom: 40px;
	font-size: 16px;
}

td{
	padding: 0 20px 0 0;
	vertical-align: top;
}


/* Class items */
.center{
	text-align: center;
}

.centered{
	margin: 0 auto;
}

.container {
	margin-top: 20px;
	max-width: 100%;
}

.leafBody{
	padding: 10px;
}

.leafPanel{
	border: 2px solid #42A3B8;
	border-radius: 20px 5px 20px 5px;
	width: 100%;
	background-color: rgba(255,255,255, .95);
}

.leafTitle{
	width: 100%;
	border-radius: 15px 0px 0px 0px;
	background-color: #42A3B8;
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom:5px;
	font-size: 24px;
	color: white;
}

.section{
	padding: 1px 30px 30px 30px;
	margin-top: 20px;
	background-color: rgba(170,249,255, .9);
	width: 100;
}

.secTitle{
	text-align: center;
}