/* Default items */
body {
	font-family: Corbel;
	margin-bottom: 40px;
	font-size: 16px;
}

hr{
	border-color: #53429C;
}

h3{
	padding-top: 7px;
}

img{
	width: 100%;
	height: 100%;
}

td{
	padding: 0 20px 0 0;
	vertical-align: top;
}


/* Class items */
.btn{
	background-color: #53429C;
	border-color: #53429C;
}

.btn:hover{
	background-color: #2F556B;
	border-color: #53429C;
}

.btn:active{
	background-color: #E0E0E0;
	border-color: #53429C;
}

.center{
	text-align: center;
}

.centered{
	margin: 0 auto;
}

.container{
  	max-width: 100%;
}

.item{
	height: 90%;
	margin-top: 20px;
	border: 1px solid #E0E0E0;
	background-color: #E0E0E0;
}

.main {
  	margin-left: 160px;
  	padding: 0px 10px;
}

.project{
	background-color: #E0E0E0;
	padding: 20px;
	margin-top: 30px;
	height: 100%;
	border-radius: 3px;
}

.projectTitle{
	margin: auto;
	text-align: center;
}

.sidenav {
	height: 100%;
  	width: 180px;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: #2F556B;
  	overflow-x: hidden;
  	padding-top: 20px;
  	border-right: 10px solid #53429C;
  	color: #E0E0E0;
}

.sidenav a {
  	padding: 6px 8px 6px 16px;
  	text-decoration: none;
  	font-size: 25px;
  	color: #E0E0E0;
  	display: block;
}

.sidenav a:hover {
  	color: lightcyan;
}

.sphere {
	text-align: center;
  	margin: 0 auto;
  	width: 300px;
  	height: 300px;
  	border-radius: 50%;
  	background-color: black;
}


/* If statements */
@media screen and (max-height: 450px) {
  	.sidenav {padding-top: 15px; width: 100px;}
  	.sidenav a {font-size: 18px;}
  	.main {margin-left: 100px;}
} 